.pageheading{
    --title-height: 32px;
    --title-width: 200px;
    --title-position: var(--card-padding) 180px;
    --title-skeleton: linear-gradient(white var(--title-height), transparent 0);
    background-image: 
    var(--title-skeleton);
    background-size:
    var(--title-width) var(--title-height),
    100% 100%;
    
  background-position:
  var(--title-position),
  0 0;
}
 